<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
 

<style>
h1 {text-align: center; color:red;}
p {text-align: center;}
div {text-align: center;}
bodt {background-image: url('https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_2_5x/sources/r1/cms/prod/7460/627460-h);}
</style>
</head>

<body bgcolor="blue" >
 <div  bgcolor="green">
	<h1> Avengers Endgame Movie Review </h1>
    <img src="https://www.cnet.com/a/img/bt5N5n2-PK73HYAx2FM0wsRs_no=/1200x630/2019/04/19/f20d0d6a-1781-49a4-90ab-e285109b65b2/avengers-endgame-imax-poster-crop.png" alt="avengers" width="333" height="333">
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('y_predict')}}"method="post">

    

    <input type="text" name="review" placeholder="review" required="required" />
    <br>

    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    
    </form>

  
   
   {{ prediction_text }}

 </div>


</body>
</html>

